@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* basic */
        --main: #1172dd;
        --primary: #4093ee;
        --secondary: #145399;
        --sub-secondary: #1b69c2;
        /* line */
        --dark-line: #b6c5db;
        --secondary-line: #aaaaaa;
        --strong-line: #bbbbbb;
        --line: #cccccc;
        --light-line: #dddddd;
        /* danger */
        --danger: #f32013;
        --danger-hover: #ca0b00;
        /* background */
        --foreground: 0, 0, 0;
        --background-start: #e1eaf4;
        --background-primary: #ecf6ff;
        --background-secondary: #e8ebef;
        --background-low-end: #eff3f8;
        --background-end: #f9fbfd;
        /* For text */
        --gray-100: #000000;
        --gray-80: #333333;
        --gray-70: #555555;
        --gray-40: #999999;
        --gray-30: #bfbfbf;
        --gray-20: #cccccc;
        --gray-10: #e5e5e5;
        --gray-0: #ffffff;
    }
}

body {
    a {
        text-decoration: none;
    }

    /* ____ANTD CUSTOM COMPONENT */
    /* button */
    .ant-btn-default:not(:disabled):not(.ant-btn-disabled):not(.ant-btn-dangerous):hover {
        border-color: #4096ff;
        color: #4096ff;
    }
    .ant-btn-default:disabled {
        cursor: not-allowed;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

.logo {
    max-height: 100%;
    width: auto;
}
